<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive JS Example</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    #box {
      background-color: lightblue;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5vw;
    }
  </style>
</head>
<body>

<div id="box">Размер: <span id="size"></span></div>

<script src="script.js"></script>
</body>
</html>
