/* Основни настройки */
* {
  box-sizing: border-box;
  margin: 50;
  padding: 30;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef2f5;
  height: 100vh;
  display: flex;
  align-items: center;
 flex-direction: column;
}

.positive-only {
  margin-top: 2px;
  width: 150px;            /* задаваш фиксирана ширина */
  max-width: 90%;          /* адаптивност при малки екрани */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#m1 {
  width: 150px;            /* задаваш фиксирана ширина */
  max-width: 90%;          /* адаптивност при малки екрани */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стил за бутоните */
button {
  font-size: 1.2rem;
  padding: 12px 24px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding-top: 80;
}

/* Ховър ефект */
button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}



  button {
    font-size: 1rem;
    margin-top: 20px;
    width: 200px;
  }


  label {
    margin-top: 15px;
    margin-bottom: 5px;     /* Разстояние между label и input */
    font-weight: bold;
  }
#myForm{
  display: flex;
  flex-direction: column;
  align-items: center;  /* 💡 Това е ключовото - центрира вътрешните елементи по хоризонтала */
 
}

#messageGood {
  margin-top: 15px;
  margin-bottom: 5px;     /* Разстояние между label и input */
  font-weight: bold;
}
  
 
#messagePoor {
  margin-top: 15px;
  margin-bottom: 5px;     /* Разстояние между label и input */
  font-weight: bold;
}

